# Projeto Python IA: Inteligência Artificial e Previsões

### Case: Score de Crédito dos Clientes

Você foi contratado por um banco para conseguir definir o score de crédito dos clientes. Você precisa analisar todos os clientes do banco e, com base nessa análise, criar um modelo que consiga ler as informações do cliente e dizer automaticamente o score de crédito dele: Ruim, Ok, Bom

Arquivos da aula: https://drive.google.com/drive/folders/1FbDqVq4XLvU85VBlVIMJ73p9oOu6u2-J?usp=drive_link

In [ ]:
# paso a paso
# Passo 0 - entender el problema de la empresa
# paso 1 - importar as bases de dados
# paso 2 preparar la base de datos para ia
# paso 3 criar um modelo de ia -> score de credito: ruim , bom, medio
# paso 4 escolher o melhor modelo
# paso 5 - usar a nossa ia para fazer novas previsoes

In [2]:
# paso 1 - importar as bases de dados
import pandas as pd

tabela = pd.read_csv("clientes.csv")
display(tabela)

,id_cliente,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,...,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,score_credito,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
0,3392,1,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,...,265.0,21.465380,alto_gasto_pagamento_baixos,312.494089,Good,1,1,1,1,0
1,3392,2,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,...,266.0,21.465380,baixo_gasto_pagamento_alto,284.629162,Good,1,1,1,1,0
2,3392,3,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,...,267.0,21.465380,baixo_gasto_pagamento_medio,331.209863,Good,1,1,1,1,0
3,3392,4,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,5.0,...,268.0,21.465380,baixo_gasto_pagamento_baixo,223.451310,Good,1,1,1,1,0
4,3392,5,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,6.0,...,269.0,21.465380,alto_gasto_pagamento_medio,341.489231,Good,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,37932,4,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,23.0,...,378.0,24.028477,alto_gasto_pagamento_alto,479.866228,Poor,1,0,0,0,1
99996,37932,5,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,18.0,...,379.0,24.028477,alto_gasto_pagamento_medio,496.651610,Poor,1,0,0,0,1
99997,37932,6,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,27.0,...,380.0,24.028477,alto_gasto_pagamento_alto,516.809083,Poor,1,0,0,0,1
99998,37932,7,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,20.0,...,381.0,24.028477,baixo_gasto_pagamento_alto,319.164979,Standard,1,0,0,0,1
99999,37932,8,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,18.0,...,382.0,24.028477,alto_gasto_pagamento_medio,393.673696,Poor,1,0,0,0,1

In [4]:
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id_cliente                100000 non-null  int64
 1   mes                       100000 non-null  int64
 2   idade                     100000 non-null  float64
 3   profissao                 100000 non-null  object
 4   salario_anual             100000 non-null  float64
 5   num_contas                100000 non-null  float64
 6   num_cartoes               100000 non-null  float64
 7   juros_emprestimo          100000 non-null  float64
 8   num_emprestimos           100000 non-null  float64
 9   dias_atraso               100000 non-null  float64
 10  num_pagamentos_atrasados  100000 non-null  float64
 11  num_verificacoes_credito  100000 non-null  float64
 12  mix_credito               100000 non-null  object
 13  divida_total              100000 non-null  float64
 14  taxa_uso_credito          100000 non-null  float64
 15  idade_historico_credito   100000 non-null  float64
 16  investimento_mensal       100000 non-null  float64
 17  comportamento_pagamento   100000 non-null  object
 18  saldo_final_mes           100000 non-null  float64
 19  score_credito             100000 non-null  object
 20  emprestimo_carro          100000 non-null  int64
 21  emprestimo_casa           100000 non-null  int64
 22  emprestimo_pessoal        100000 non-null  int64
 23  emprestimo_credito        100000 non-null  int64
 24  emprestimo_estudantil     100000 non-null  int64
dtypes: float64(14), int64(7), object(4)
memory usage: 19.1+ MB

None

In [47]:

# mix_credito
# score_credito
# tratamiento de esas 3 colunas porque son textos, esto tiene que ser trasformado en numeros para hacer porcesos de IA
# de toda la biblioteca de la seccion preprocessing cojo un libro.
from sklearn.preprocessing import LabelEncoder

codificador = LabelEncoder()  # codificador aplica en la columna tatata

# Profissao
# no se pueden hacer las cpdoficaciones al mismo tiempo debido que a cada coluna necesita una codificacion diferente
tabela["profissao"] = codificador.fit_transform(tabela["profissao"])
tabela["mix_credito"] = codificador.fit_transform(tabela["mix_credito"])
tabela["comportamento_pagamento"] = codificador.fit_transform(
    tabela["score_credito"])
display(tabela)

KeyError: 'score_credito'

In [19]:
# aprendizado de maquina
# y columna que eu quero prever
y = tabela["score_credito"]
# columnas que eu quero para fazer a previcao
tabela = tabela.drop(columns=["score_credito", "id_cliente"])
x = tabela

KeyError: 'score_credito'

In [21]:
display(tabela)
display(x)
display(y)

,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,num_pagamentos_atrasados,...,taxa_uso_credito,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
0,1,23.0,2,19114.12,3.0,4.0,3.0,4.0,3.0,7.0,...,26.822620,265.0,21.465380,0,312.494089,1,1,1,1,0
1,2,23.0,2,19114.12,3.0,4.0,3.0,4.0,3.0,4.0,...,31.944960,266.0,21.465380,0,284.629162,1,1,1,1,0
2,3,23.0,2,19114.12,3.0,4.0,3.0,4.0,3.0,7.0,...,28.609352,267.0,21.465380,0,331.209863,1,1,1,1,0
3,4,23.0,2,19114.12,3.0,4.0,3.0,4.0,5.0,4.0,...,31.377862,268.0,21.465380,0,223.451310,1,1,1,1,0
4,5,23.0,2,19114.12,3.0,4.0,3.0,4.0,6.0,4.0,...,24.797347,269.0,21.465380,0,341.489231,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,4,25.0,11,39628.99,4.0,6.0,7.0,2.0,23.0,7.0,...,34.663572,378.0,24.028477,1,479.866228,1,0,0,0,1
99996,5,25.0,11,39628.99,4.0,6.0,7.0,2.0,18.0,7.0,...,40.565631,379.0,24.028477,1,496.651610,1,0,0,0,1
99997,6,25.0,11,39628.99,4.0,6.0,7.0,2.0,27.0,6.0,...,41.255522,380.0,24.028477,1,516.809083,1,0,0,0,1
99998,7,25.0,11,39628.99,4.0,6.0,7.0,2.0,20.0,6.0,...,33.638208,381.0,24.028477,2,319.164979,1,0,0,0,1
99999,8,25.0,11,39628.99,4.0,6.0,7.0,2.0,18.0,6.0,...,34.192463,382.0,24.028477,1,393.673696,1,0,0,0,1

,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,num_pagamentos_atrasados,...,taxa_uso_credito,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
0,1,23.0,2,19114.12,3.0,4.0,3.0,4.0,3.0,7.0,...,26.822620,265.0,21.465380,0,312.494089,1,1,1,1,0
1,2,23.0,2,19114.12,3.0,4.0,3.0,4.0,3.0,4.0,...,31.944960,266.0,21.465380,0,284.629162,1,1,1,1,0
2,3,23.0,2,19114.12,3.0,4.0,3.0,4.0,3.0,7.0,...,28.609352,267.0,21.465380,0,331.209863,1,1,1,1,0
3,4,23.0,2,19114.12,3.0,4.0,3.0,4.0,5.0,4.0,...,31.377862,268.0,21.465380,0,223.451310,1,1,1,1,0
4,5,23.0,2,19114.12,3.0,4.0,3.0,4.0,6.0,4.0,...,24.797347,269.0,21.465380,0,341.489231,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,4,25.0,11,39628.99,4.0,6.0,7.0,2.0,23.0,7.0,...,34.663572,378.0,24.028477,1,479.866228,1,0,0,0,1
99996,5,25.0,11,39628.99,4.0,6.0,7.0,2.0,18.0,7.0,...,40.565631,379.0,24.028477,1,496.651610,1,0,0,0,1
99997,6,25.0,11,39628.99,4.0,6.0,7.0,2.0,27.0,6.0,...,41.255522,380.0,24.028477,1,516.809083,1,0,0,0,1
99998,7,25.0,11,39628.99,4.0,6.0,7.0,2.0,20.0,6.0,...,33.638208,381.0,24.028477,2,319.164979,1,0,0,0,1
99999,8,25.0,11,39628.99,4.0,6.0,7.0,2.0,18.0,6.0,...,34.192463,382.0,24.028477,1,393.673696,1,0,0,0,1

0        0
1        0
2        0
3        0
4        0
        ..
99995    1
99996    1
99997    1
99998    2
99999    1
Name: score_credito, Length: 100000, dtype: int64

In [33]:
from sklearn.model_selection import train_test_split

# el esta escogiendo datos al azar de la base de datos y las divide en cada una de esas variables
# test_size=0.3 esto se defien mediante el tts con el find de colocar 3 porciento de tes y 70 porciento de entreno
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y)

In [34]:
# criar a IA
# arvore de decicao Randomforest
# KNN neirest neigvors vecinos proximos Kneigbors

# importta

from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
# crea a ia#

modelo_arvoredecissao = RandomForestClassifier()
modelo_neighbor = KNeighborsClassifier()


# entrena a ia

modelo_arvoredecissao.fit(x_treino, y_treino)
modelo_neighbor.fit(x_treino, y_treino)
# treinar os modelos

KNeighborsClassifier()

In [36]:
# testar os modelos
from sklearn.metrics import accuracy_score
# con esto se cambian los formatos para que funcionen
previssao_arvore = modelo_arvoredecissao.predict(x_teste)
presissao_knn = modelo_neighbor.predict(x_teste.to_numpy())


# acurancia

print(accuracy_score(y_teste, previssao_arvore))
print(accuracy_score(y_teste, presissao_knn))

c:\Users\Alex Nocua\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

1.0
0.7472

In [58]:
# fazer novas previcoes

# importar novos clients
# codificar os novos clientes

tabela_novos_clientes = pd.read_csv("novos_clientes.csv")
print(tabela_novos_clientes)
tabela_novos_clientes["profissao"] = codificador.fit_transform(tabela_novos_clientes["profissao"])
tabela_novos_clientes["mix_credito"] = codificador.transform(tabela_novos_clientes["mix_credito"])


display(tabela_novos_clientes)

previsoes = modelo_arvoredecissao.predict(tabela_novos_clientes.to_numpy())
print(previsoes)

   mes  idade   profissao  salario_anual  num_contas  num_cartoes  \
0    1   31.0  empresario      19300.340         6.0          7.0
1    4   32.0    advogado      12600.445         5.0          5.0
2    2   48.0  empresario      20787.690         8.0          6.0

   juros_emprestimo  num_emprestimos  dias_atraso  num_pagamentos_atrasados  \
0              17.0              5.0         52.0                      19.0
1              10.0              3.0         25.0                      18.0
2              14.0              7.0         24.0                      14.0

   ...  taxa_uso_credito idade_historico_credito  investimento_mensal  \
0  ...         29.934186                   218.0             44.50951
1  ...         28.819407                    12.0              0.00000
2  ...         34.235853                   215.0              0.00000

       comportamento_pagamento  saldo_final_mes  emprestimo_carro  \
0  baixo_gasto_pagamento_baixo       312.487689                 1
1  baixo_gasto_pagamento_medio       300.994163                 0
2   baixo_gasto_pagamento_alto       345.081577                 0

  emprestimo_casa  emprestimo_pessoal  emprestimo_credito  \
0               1                   0                   0
1               0                   0                   0
2               1                   0                   1

   emprestimo_estudantil
0                      0
1                      1
2                      0

[3 rows x 23 columns]

ValueError: y contains previously unseen labels: 'Ruim'